<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
		id          = "com.motivateme.android"
        version     = "1.0.0" >
		
    <name>Motivate Me</name>
    <description>Motivate Me</description>
    <author email="motivateme.bai@gmail.com">
        K. Matusiak, A. Munk, M. Górka, Z. Gil
    </author>

<plugin name="cordova-plugin-firebase" spec="1.0.0" />
	<plugin name="cordova-plugin-device" spec="^1.1.4" />
	<plugin name="cordova-plugin-dialogs" spec="2.0.1" />
	<plugin name="cordova-universal-links-plugin" spec="^1.2.1" />
	<plugin name="cordova-plugin-browsertab" spec="0.2.0" />
	<plugin name="cordova-plugin-inappbrowser" spec="^3.0.0" />
	<plugin name="cordova-plugin-whitelist" source="npm" />
    <access origin="*" />
    <allow-navigation href="*" />
    <allow-intent href="*" />

    <plugin name="cordova-plugin-googleplus" source="npm" spec="5.2.1">
	    <variable name="WEB_APPLICATION_CLIENT_ID" value="1064101044778-antang1guujbeobg08ocrk7cqq01rb1s.apps.googleusercontent.com" />
    </plugin>

	    
	<platform name="android"></platform>

</widget>

